body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

div.question {
  background: #EFFFE9;
  margin: 0;
  padding: 10px 30px 10px 30px;
  border-bottom: 1px solid #011627;
}

div.question h3 {
  background: #011627;
  color: #EFFFE9;
  padding: 5px;
  padding-left: 30px;
}

div.question .assigned-count {
  font-size: 0.7em;
}

div.assignment {
  font-size: 1.5em;
  display: inline;
  margin-right: 30px;
}

p.student {
  margin: -5px;
  padding: 5px;
  background: #2EC4B6;
  color: #fff;

}

div.question span {
  float: right;
  text-align: right;
  bacground: #EFFFE9;
  color: #E71D36;
  font-size: 0.7em;
}

div.answer {
  padding: 5px;
  margin: 2px;
  border: 1px solid #011627;
}

div#create-question {
  margin: 20px auto 20px auto;
}

input[type=button] {
  cursor: pointer;
}

div#create-question h2 {
  font-size: 20px;
  text-align: center;
}

div#create-question input {
  width: 25%;
  margin: 0;
}

div.login {
  margin: 200px auto 0 auto;
  text-align: left;
  width: 300px;
  text-align: center;
}

div.login h2 {
  font-size: 100px;
  color:  #011627;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

div.logout {
  text-align: right;
  background: #EFFFE9;
}

div.logout p {
  padding-right: 30px;
  display: inline;
  font-size: 1.2em;
}

div.logout input[type=button] {
  color: #fff;
  background: #E71D36;
  display: inline;
  font-size: 1.2em;
  cursor: pointer;
}

